/* Fade in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to the modal */
.animate-fadeIn {
  animation: fadeIn 0.3s;
}

.DetailsModalBody {
  margin-top: 100px;
}
